@import '../less/_mixins.less';

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', sans-serif;
	.gradient( #222222, #373737 );
	-webkit-font-smoothing: antialiased;

	&.is-indev {
		padding-right: 300px;
	}
}

a {
	text-decoration: none;
}

button {
	font-size: 16px;
	color: #111;
	padding: @form-input-radius;
	border: 0;
	border-radius: 3px;
	line-height: 2;
}

input[type="text"] {
	font-size: 16px;
	color: #111;
	display: block;
	width: 100%;
	padding: @form-input-radius;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 1.42857143;
}

ul, ol, p {
	.reset;
}

ul, ol {
	list-style-type: none;
}

.App-button {
	background: #000;
	color: #fff;
	border: 0;
	line-height: 42px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 300;

	&[disabled] {
		opacity: 0.3;
	}
}
