@import '../less/_mixins.less';

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', sans-serif;
	background: #222222;
	background: -moz-linear-gradient(top,  #222222 0%, #373737 100%);
	background: -webkit-linear-gradient(top,  #222222 0%,#373737 100%);
	background: linear-gradient(to bottom,  #222222 0%,#373737 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#373737',GradientType=0 );
	-webkit-font-smoothing: antialiased;

	&.is-indev {
		padding-right: 300px;
	}
}

.App-button {
	background: #000;
	color: #fff;
	border: 0;
	line-height: 42px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 300;

	&[disabled] {
		opacity: 0.3;
	}
}

.btn-dark {
	background: #333;
	border-color: #333;
	color: #fff;

	&:hover,
	&:focus {
		color: #fff;
		background: #000;
		border-color: #000;
	}
}
