.Card {
	width: 145px;
	height: 200px;
	padding: 13px 15px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	background-size: 200px 200px;
	border: 1px solid rgba(0,0,0,0.075);

	&.Card-black {
		background: #1a1b1c;
		color: #fff;
	}

	&.Card-white {
		background: #f8f8f8;
		color: #000;
	}

	&.Card-dragging {
		opacity: 1;
		background: rgba(255,255,255,0.05);

		> p {
			display: none;
		}
	}

	&.Card-draggable {
		cursor: move;
	}

	> p {
		margin: 0;
	}
}