@import '../../less/_mixins.less';

.Board {
	&-panel {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 230px;
		display: flex;
		align-items: center;
		justify-content: center;

		> div {
			width: 200px;

			> .Card,
			> .Receiver {
				margin: 0 auto;
			}
		}
	}

	&-selection {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		> div {
			transform: scale(1.6);
		}
	}
}