@import '../../less/_mixins.less';

.Player {
	color: #fff;
	text-align: left;
	display: flex;

	&-avatar {
		display: block;
		width: @player-avatar-size;
		height: @player-avatar-size;
		line-height: @player-avatar-size;
		border-radius: @player-avatar-size;
		font-size: ( @player-avatar-size / 2 );
		font-weight: 300;
		color: rgba(255,255,255,0.8);
		text-align: center;
		margin-right: 10px;
	}

	&-score {
		width: 40px;
		text-align: center;
		line-height: 40px;
		font-size: 32px;
		font-weight: 300;
	}

	&-info {
		flex: 1;
		display: flex;
		align-items: center;
	}

	h2 {
		font-size: 18px;
		font-weight: 300;
		margin: 0;
	}

	p {
		color: rgba( 255,255,255,0.6 );
	}
}
