@import '../../less/_mixins.less';

.Loading {
	text-align: center;

	h3 {
		text-transform: uppercase;
		font-size: 14px;
		opacity: 0.5;
		color: #fff;
	}

	&-gameKey {
		font-family: 'monaco', monospace;
		font-size: 40px;
		color: #fff;
	}

	&-users {
		color: #fff;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 55px;
		left: 15px;
		width: 250px;

		> li {
			width: 250px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

@total-width: 250px;
@card-width: 22px;

.keyframes( loader, {
	15% { transform: translateX(0); }
	45% { transform: translateX( @total-width - @card-width ); }
	65% { transform: translateX( @total-width - @card-width ); }
	95% { transform: translateX(0); }
});

.LoadingThrobber {
	width: 250px;
	height: 34px;
	position: relative;

	> span {
		display: block;
		width: 22px;
		height: 34px;
		position: absolute;
		border: 1px solid rgba(0,0,0,0.1);
		.animation( loader ease-in-out 2.5s infinite );

		&:after {
			content: '';
			display: block;
			width: 22px;
			height: 34px;
			background: #fff;
			border-radius: 2px;
		}

		&:nth-child(1) {
			animation-delay: 0s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(2) {
			animation-delay: 0.1s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(4) {
			animation-delay: 0.3s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(5) {
			animation-delay: 0.4s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
	}

	> p {
		color: #fff;
		font-size: 13px;
		text-align: center;
		position: absolute;
		bottom: -40px;
		width: 250px;
		opacity: 0.6;
	}
}
