@import '../../less/_mixins.less';

.Loading {
	text-align: center;
	width: 100vw;
	height: 100vh;

	h3 {
		font-size: 22px;
	    font-weight: 300;
	    margin: 0 0 20px;
	    color: #fff;
	}

	&-panels {
		width: 100vw;
		height: 100vh;
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&-throbber {
		display: block;
		width: 90px;
		height: 90px;
		background: url( '../../images/ring.svg' );
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	&-gameKey {
		width: 280px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;

		> span {
			display: block;
			background: #fff;
			color: #000;
			width: 40px;
			height: 52px;
			line-height: 50px;
			border-radius: 4px;
			font-size: 28px;
			font-weight: 300;
		}
	}

	&-submit {
		width: 280px;
	}

	&-help {
		color: #999;
		width: 280px;
		margin: 30px auto 0;
	}

	.LoadingThrobber {
		margin: 0 auto;
	}

	&-users {
		color: #fff;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 55px;
		left: 15px;
		width: 250px;

		> li {
			width: 250px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

@total-width: 250px;
@card-width: 22px;

.keyframes( loader, {
	15% { transform: translateX(0); }
	45% { transform: translateX( @total-width - @card-width ); }
	65% { transform: translateX( @total-width - @card-width ); }
	95% { transform: translateX(0); }
});

.LoadingThrobber {
	width: 250px;
	height: 34px;
	position: relative;

	> span {
		display: block;
		width: 22px;
		height: 34px;
		position: absolute;
		border: 1px solid rgba(0,0,0,0.1);
		.animation( loader ease-in-out 2.5s infinite );

		&:after {
			content: '';
			display: block;
			width: 22px;
			height: 34px;
			background: #fff;
			border-radius: 2px;
		}

		&:nth-child(1) {
			animation-delay: 0s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(2) {
			animation-delay: 0.1s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(4) {
			animation-delay: 0.3s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
		&:nth-child(5) {
			animation-delay: 0.4s;
			&:after {
				.makeRandom(-20, 20, 1);
				transform: rotateZ(~"@{randNum}deg");
			}
		}
	}

	> p {
		color: #fff;
		font-size: 13px;
		text-align: center;
		position: absolute;
		bottom: -40px;
		width: 250px;
		opacity: 0.6;
	}
}
