@import '../../less/_mixins.less';

.Hand {
	background: #2a2a2a;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 230px;
	padding: 15px;
	overflow: auto;
	opacity: 1;
	transition: 0.3s all ease-in-out;

	&.Hand-hidden {
		bottom: -230px;
		opacity: 0;
	}

	> ul {
		.reset;

		width: 1280px;
		position: absolute;
		top: 15px;
		left: 15px;

		> li {
			display: inline-block;
			float: left;
			margin-right: 15px;
		}
	}
}
